<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="card">
      <div class="card-title">
        <h2>Simple CRUD app</h2>
      </div>
      <br />
      <div class="card-body">
        <h4>Please add new features</h4>
      </div>
      <br />
      <br />
      <div class="card-footer">
        <p>&copy copyright 2022</p>
      </div>
    </div>
    <br />
    <button class="btn">
        <a href="{{ url_for('form') }}">Go to Form</a>
    </button>
  </body>
</html>
